@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: 'Quicksand' !important;
  color: #333;
}

*::-webkit-scrollbar {
  display: none;
}

.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

.display-none {
  display: none;
}
